<%- include("./navbar") %>

<section class="home_container">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="home_details">
      <h1>Find the perfect <i>volunteers</i> for your work</h1>
      <form class="search my-4">
        <div class="input-group">
          <span class="input-group-text">
            <i class="las la-search"></i>
          </span>
          <input
            class="form-control"
            type="text"
            placeholder="Try 'Cleaning Services'... "
          />
          <button class="btn btn-success" type="button">Search</button>
        </div>
      </form>
      <div class="popular_srh d-flex align-item-center my-4">
        <p class="fw-bold">Popular :</p>
        <div class="mx-2">
          <a href="#" class="btn btn-dark btn-sm">Donate Food</a>
          <a href="#" class="btn btn-dark btn-sm">Gardening</a>
          <a href="#" class="btn btn-dark btn-sm">Salon Services</a>
          <a href="#" class="btn btn-dark btn-sm">AC Cleaning</a>
        </div>
      </div>
    </div>
    <div class="hero_img">
      <div class="q_img_container q_layout">
        <img class="q_image q_image_1 m-auto" />
        <img class="q_image q_image_2 ms-auto" />
      </div>
    </div>
  </div>
</section>
