<!-- -------------------- Navbar Strat -------------------- -->
<section class="navbar_container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container">
      <div class="logo">
        <a class="navbar-brand fs-5" href="/">WorkQ.</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Explore
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown_menu_items">
                <div>
                  <li>
                    <a class="dropdown-item" href="/volunteering/work/category/cleaning"><i class="las la-broom"></i> Cleaning</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/volunteering/work/category/transportation"><i class="las la-subway"></i> Transportation</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/volunteering/work/category/environmental"><i class="lab la-envira"></i> Environmental</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/volunteering/work/category/bodycare"><i class="las la-baby"></i> Body Care</a>
                  </li>
                </div>
                <div>
                  <li>
                    <a class="dropdown-item" href="/volunteering/work/category/rescue"><i class="las la-first-aid"></i> Rescue</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/volunteering/work/category/delivery"><i class="las la-truck"></i> Delivery</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/volunteering/work/category/donation"><i class="las la-universal-access"></i> Donation</a>
                  </li>
                </div>
              </div>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Find Volunteer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/volunteering/work/category/all">Become a Volunteer</a>
          </li>
        </ul>
        <% if(user) { %>
          <div class="profile_dropdown dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="/<%= user.details.image %>" class="rounded-circle" height="25px" width="25px" alt="" />
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a href="#" class="nav-link">
                  <p class="mb-0">Signed in as</p>
                  <b>
                    <%= user.username %>
                  </b>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/pofile">Profile</a></li>
              <li><a class="dropdown-item" href="/pofile/mywork/posted">Posted Works</a></li>
              <li><a class="dropdown-item" href="/pofile/mywork/accepted">Accepted Works</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/setting/account">Setting</a></li>
              <li>
                <a class="nav-link">English <i class="las la-globe"></i></a>
              </li>
              <li>
                <a class="nav-link"><i class="las la-rupee-sign"> </i>INR</i></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <!-- here form is used because we want to do post request on /logout route -->
                <form id="logout" action="/logout" method="post">
                  <a onclick="document.getElementById('logout').submit()" class="nav-link dropdown-item" href="#">Logout</a>
                </form>
              </li>
            </ul>
          </div>
          <% } else { %>
            <div class="nav_auth_btns">
              <a href="/authentication/login" class="btn btn-light">Sign In</a>
              <a href="/authentication/signup/step1" class="btn btn-outline-success border-2 px-4">
                Join
              </a>
            </div>
            <% } %>
      </div>
    </div>
  </nav>
</section>
<!-- -------------------- Navbar End -------------------- -->