@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap);
/* Google Font (Lato) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  outline: none !important;
}

/* -------------------- Navbar Styling Start -------------------- */
.navbar .navbar-nav li {
  margin: 0 0.5rem;
  font-size: 17px;
}
.navbar .navbar-nav li .dropdown-menu .dropdown_menu_items {
  display: flex;
}

/* -------------------- Navbar Styling End -------------------- */
/* -------------------- SignUp Page Styling Start -------------------- */
.signUp_container {
  height: calc(100vh - 72px);
}

/* -------------------- SignUp Page Styling End -------------------- */
