@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap);
/* Google Font (Lato) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  outline: none !important;
}

.no_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no_data img {
  height: calc(100vh - 250px);
}

/* -------------------- Navbar Styling Start -------------------- */
.navbar .navbar-nav li {
  margin: 0 0.5rem;
  font-size: 17px;
}
.navbar .navbar-nav li .dropdown-menu .dropdown_menu_items {
  display: flex;
}
.navbar .profile_dropdown .nav-link {
  color: #000000;
}
.navbar .profile_dropdown .dropdown-menu[data-bs-popper] {
  left: -100px !important;
}

/* -------------------- Navbar Styling End -------------------- */
/* -------------------- SignUp Page Styling Start -------------------- */
.signUp_container,
.login_container {
  height: calc(100vh - 72px);
}

/* -------------------- SignUp Page Styling End -------------------- */
/* -------------------- Home Page Styling Start -------------------- */
.home_container .container {
  height: calc(100vh - 75px);
}
.home_container .container .home_details {
  flex: 0.5;
}
.home_container .container .home_details > h1 {
  font-size: 48px;
}
.home_container .container .home_details .search .form-control {
  padding: 10px;
  outline: none !important;
}
.home_container .container .home_details .popular_srh .btn {
  font-size: 12px;
  padding: 2px 6px;
}
.home_container .container .hero_img {
  flex: 0.5;
}
.home_container .container .hero_img .q_img_container {
  position: relative;
}
.home_container .container .hero_img .q_img_container .q_image {
  background-size: cover;
  border-radius: 50% !important;
  background-position: 50% 50%;
}
.home_container .container .hero_img .q_img_container .q_image_1 {
  position: absolute;
  top: -210px;
  left: 100px;
  width: 425px;
  height: 425px;
  background-image: url("/images/q-img-1.jpg");
}
.home_container .container .hero_img .q_img_container .q_image_2 {
  position: absolute;
  right: 60px;
  top: 80px;
  width: 200px;
  height: 200px;
  background-image: url("/images/q-img-2.jpg");
  border: 12px solid white;
}

/* -------------------- Home Page Styling End -------------------- */
/* -------------------- Account Page Styling Start -------------------- */
.account_container,
.security_container {
  background-color: whitesmoke;
  min-height: calc(100vh - 75px);
}
.account_container .navbar,
.security_container .navbar {
  flex: 0.2;
}
.account_container .navbar .navbar-nav .nav-link,
.security_container .navbar .navbar-nav .nav-link {
  padding: 0;
  text-decoration: none;
  color: #0000008c;
}
.account_container .navbar .navbar-nav .nav-link.active,
.security_container .navbar .navbar-nav .nav-link.active {
  color: #000000;
}
.account_container .account_details,
.account_container .security_details,
.security_container .account_details,
.security_container .security_details {
  flex: 0.8;
  background-color: white;
  border: #e7e5e5 solid 1px;
  border-radius: 5px;
}
.account_container .account_details .user_profile,
.security_container .account_details .user_profile {
  position: relative;
  margin: auto;
  width: 150px;
  height: 150px;
}
.account_container .account_details .user_profile img,
.security_container .account_details .user_profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.account_container .account_details .user_profile .la-user,
.security_container .account_details .user_profile .la-user {
  font-size: 150px;
  background-color: #000000;
  border-radius: 50%;
  color: white;
}
.account_container .account_details .user_profile .edit_img_btn,
.security_container .account_details .user_profile .edit_img_btn {
  position: absolute;
  bottom: 10px;
  right: -10px;
  border: #e7e5e5 solid 2px;
}
.account_container .account_details .user_profile .edit_img_btn .la-pen,
.security_container .account_details .user_profile .edit_img_btn .la-pen {
  font-size: 20px;
}
.account_container .account_details .user_profile .drop_zone_thumb,
.security_container .account_details .user_profile .drop_zone_thumb {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.account_container .account_details form label,
.security_container .account_details form label {
  text-transform: capitalize;
}

/* -------------------- Account Page Styling End -------------------- */
/* -------------------- Post Work Page Styling Start -------------------- */
.post_work_btn_container {
  position: fixed;
  bottom: 30px;
  right: 40px;
}

.postWork_container {
  background-color: whitesmoke;
}
.postWork_container .container {
  min-height: calc(100vh - 75px);
}
.postWork_container .container .work_img_container {
  flex: 0.3;
  border: 2px dashed #e7e5e5;
  border-radius: 10px;
  height: 300px;
  background-color: white;
}
.postWork_container .container .work_img_container i {
  font-size: 4rem;
  color: #e7e5e5;
}
.postWork_container .container .work_img_container p .browse_btn {
  font-weight: bold;
  cursor: pointer;
  color: blue;
}
.postWork_container .container .work_img_container .drop_zone_thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgba(0, 128, 0, 0.1);
}
.postWork_container .container .work_img_container .drop_zone_thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.postWork_container .container .work_details {
  flex: 0.6;
  background-color: white;
  border: #e7e5e5 solid 1px;
  border-radius: 5px;
}

.draged {
  background-color: rgba(0, 128, 0, 0.1);
  border: 2px dashed green !important;
}

/* -------------------- Post Work Page Styling End -------------------- */
/* -------------------- Posted Work Page Styling Start -------------------- */
.posted_works_container .container .row .card img {
  -o-object-fit: cover;
     object-fit: cover;
}
.posted_works_container .container .row .card .card-body > p {
  font-size: 20px;
}
.posted_works_container .container .row .card .card-body .dropdown i {
  font-size: 30px;
}

/* -------------------- Posted Work Page Styling End -------------------- */
/* -------------------- All Works Page Styling Start -------------------- */
.all_works_container .card img,
.accepted_works_container .card img {
  -o-object-fit: cover;
     object-fit: cover;
}
.all_works_container .card .owener img,
.accepted_works_container .card .owener img {
  width: 25px;
  height: 25px;
}
.all_works_container .card .owener .owener_details p,
.accepted_works_container .card .owener .owener_details p {
  font-size: 14px;
}
.all_works_container .card .owener .owener_details p:nth-child(2),
.accepted_works_container .card .owener .owener_details p:nth-child(2) {
  color: #0000008c;
}
.all_works_container .card .work_details > p,
.accepted_works_container .card .work_details > p {
  font-size: 20px;
}
.all_works_container .card .dropdown a i,
.accepted_works_container .card .dropdown a i {
  font-size: 30px;
}

/* -------------------- All Works Page Styling End -------------------- */
/* -------------------- Work Details Page Styling Start -------------------- */
.work_details_container {
  background-color: whitesmoke;
}
.work_details_container .container {
  min-height: calc(100vh - 75px);
}
.work_details_container .container .left_side {
  flex: 0.3;
}
.work_details_container .container .left_side .work_img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.work_details_container .container .left_side .accepted_by_users {
  background-color: white;
  border: #e7e5e5 solid 1px;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: scroll;
}
.work_details_container .container .left_side .accepted_by_users .user_details img {
  width: 35px;
  height: 35px;
}
.work_details_container .container .left_side .accepted_by_users .user_details div p:nth-child(2) {
  color: #0000008c;
}
.work_details_container .container .work_detail {
  flex: 0.6;
  background-color: white;
  border: #e7e5e5 solid 1px;
  border-radius: 5px;
}
.work_details_container .container .work_detail h1 {
  font-size: 20px;
  text-transform: uppercase;
}
.work_details_container .container .work_detail p {
  font-size: 20px;
  text-align: justify;
}

/* -------------------- Work Page Styling End -------------------- */
/* -------------------- Profile Page Styling Start -------------------- */
.profile_container {
  background-color: whitesmoke;
  min-height: calc(100vh - 75px);
}
.profile_container .left_side {
  flex: 0.3;
  background-color: white;
  border: #e7e5e5 solid 1px;
  border-radius: 5px;
}
.profile_container .left_side .profile_img_container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover !important;
  background-position: 50% 50% !important;
}
.profile_container .left_side .profile_img_container .la-user {
  font-size: 150px;
}
.profile_container .left_side .profile_img_container:hover .change_user_profile_form {
  visibility: visible;
}
.profile_container .right_side {
  flex: 0.6;
}
.profile_container .right_side .nav {
  background-color: white;
  border: #e7e5e5 solid 1px;
  border-radius: 5px;
}
.profile_container .right_side .nav .nav-link {
  color: #0000008c;
}
.profile_container .right_side .nav .nav-link.active,
.profile_container .right_side .nav .show > .nav-link {
  background-color: transparent;
  color: #000000;
  border-bottom: 2px solid green !important;
}
.profile_container .right_side .tab-content .card img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile_container .right_side .tab-content .card .card-body > p {
  font-size: 20px;
}
.profile_container .right_side .tab-content .card .card-body .owener img {
  width: 25px;
  height: 25px;
}
.profile_container .right_side .tab-content .card .card-body .owener .owener_details p {
  font-size: 14px;
}
.profile_container .right_side .tab-content .card .card-body .owener .owener_details p:nth-child(2) {
  color: #0000008c;
}
.profile_container .right_side .tab-content .card .card-body .work_details > p {
  font-size: 20px;
}
.profile_container .right_side .tab-content .card .card-body .dropdown i {
  font-size: 30px;
}

/* -------------------- Profile Page Styling End -------------------- */
