/* Google Font (Lato) */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  outline: none !important;
}

.no_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: calc(100vh - 250px);
  }
}

/* -------------------- Navbar Styling Start -------------------- */
.navbar {
  .navbar-nav {
    li {
      margin: 0 0.5rem;
      font-size: 17px;

      .dropdown-menu {
        .dropdown_menu_items {
          display: flex;
        }
      }
    }
  }
  .profile_dropdown {
    .nav-link {
      color: #000000;
    }
    .dropdown-menu[data-bs-popper] {
      left: -100px !important;
    }
  }
}
/* -------------------- Navbar Styling End -------------------- */

/* -------------------- SignUp Page Styling Start -------------------- */
.signUp_container,
.login_container {
  height: calc(100vh - 72px);
}
/* -------------------- SignUp Page Styling End -------------------- */

/* -------------------- Home Page Styling Start -------------------- */
.home_container {
  .container {
    height: calc(100vh - 75px);

    .home_details {
      flex: 0.5;

      > h1 {
        font-size: 48px;
      }
      .search {
        .form-control {
          padding: 10px;
          outline: none !important;
        }
      }
      .popular_srh {
        .btn {
          font-size: 12px;
          padding: 2px 6px;
        }
      }
    }
    .hero_img {
      flex: 0.5;

      .q_img_container {
        position: relative;

        .q_image {
          background-size: cover;
          border-radius: 50% !important;
          background-position: 50% 50%;
        }
        .q_image_1 {
          position: absolute;
          top: -210px;
          left: 100px;
          width: 425px;
          height: 425px;
          background-image: url("/images/q-img-1.jpg");
        }
        .q_image_2 {
          position: absolute;
          right: 60px;
          top: 80px;
          width: 200px;
          height: 200px;
          background-image: url("/images/q-img-2.jpg");
          border: 12px solid white;
        }
      }
    }
  }
}
/* -------------------- Home Page Styling End -------------------- */

/* -------------------- Account Page Styling Start -------------------- */
.account_container,
.security_container {
  background-color: whitesmoke;
  min-height: calc(100vh - 75px);

  .navbar {
    flex: 0.2;
    .navbar-nav {
      .nav-link {
        padding: 0;
        text-decoration: none;
        color: #0000008c;
      }
      .nav-link.active {
        color: #000000;
      }
    }
  }
  .account_details,
  .security_details {
    flex: 0.8;
    background-color: white;
    border: rgb(231, 229, 229) solid 1px;
    border-radius: 5px;
  }
  .account_details {
    form {
      label {
        text-transform: capitalize;
      }
    }
  }
}
/* -------------------- Account Page Styling End -------------------- */

/* -------------------- Post Work Page Styling Start -------------------- */
.post_work_btn_container {
  position: fixed;
  bottom: 30px;
  right: 40px;
}
.postWork_container {
  background-color: whitesmoke;

  .container {
    min-height: calc(100vh - 75px);

    .work_img_container {
      flex: 0.3;
      border: 2px dashed rgb(231, 229, 229);
      border-radius: 10px;
      height: 300px;
      background-color: white;

      i {
        font-size: 4rem;
        color: rgb(231, 229, 229);
      }

      p {
        .browse_btn {
          font-weight: bold;
          cursor: pointer;
          color: blue;
        }
      }

      .drop_zone_thumb {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        background-color: transparentize($color: green, $amount: 0.9);

        &::after {
          content: attr(data-label);
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 5px 0;
          color: #ffffff;
          background: rgba(0, 0, 0, 0.75);
          font-size: 14px;
          text-align: center;
        }
      }
    }
    .work_details {
      flex: 0.6;
      background-color: white;
      border: rgb(231, 229, 229) solid 1px;
      border-radius: 5px;
    }
  }
}
.draged {
  background-color: transparentize($color: green, $amount: 0.9);
  border: 2px dashed green !important;
}
/* -------------------- Post Work Page Styling End -------------------- */

/* -------------------- Posted Work Page Styling Start -------------------- */
.posted_works_container {
  .container {
    .row {
      .card {
        img {
          object-fit: cover;
        }

        .card-body {
          > p {
            font-size: 20px;
          }

          .dropdown {
            i {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}
/* -------------------- Posted Work Page Styling End -------------------- */

/* -------------------- All Works Page Styling Start -------------------- */
.all_works_container,
.accepted_works_container {
  .card {
    img {
      object-fit: cover;
    }
    .owener {
      img {
        width: 25px;
        height: 25px;
      }
      .owener_details {
        p {
          font-size: 14px;

          &:nth-child(2) {
            color: #0000008c;
          }
        }
      }
    }
    .work_details {
      > p {
        font-size: 20px;
      }
    }
    .dropdown {
      a {
        i {
          font-size: 30px;
        }
      }
    }
  }
}
/* -------------------- All Works Page Styling End -------------------- */

/* -------------------- Work Page Styling Start -------------------- */
.work_details_container {
  background-color: whitesmoke;

  .container {
    min-height: calc(100vh - 75px);

    .work_img {
      flex: 0.3;
      border-radius: 10px;
      height: 300px;
      object-fit: cover;
    }

    .work_detail {
      flex: 0.6;
      background-color: white;
      border: rgb(231, 229, 229) solid 1px;
      border-radius: 5px;

      h1 {
        font-size: 20px;
        text-transform: uppercase;
      }
      p {
        font-size: 20px;
        text-align: justify;
      }
    }
  }
}
/* -------------------- Work Page Styling End -------------------- */

/* -------------------- Profile Page Styling Start -------------------- */
.profile_container {
  background-color: whitesmoke;
  min-height: calc(100vh - 75px);

  .left_side {
    flex: 0.3;
    background-color: white;
    border: rgb(231, 229, 229) solid 1px;
    border-radius: 5px;

    .profile_img {
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-size: cover !important;
        background-position: 50% 50% !important;
      }
    }
  }

  .right_side {
    flex: 0.6;

    .nav {
      background-color: white;
      border: rgb(231, 229, 229) solid 1px;
      border-radius: 5px;

      .nav-link {
        color: #0000008c;
      }

      .nav-link.active,
      .show > .nav-link {
        background-color: transparent;
        color: #000000;
        border-bottom: 2px solid green !important;
      }
    }

    .tab-content {
      .card {
        img {
          height: 200px;
          object-fit: cover;
        }

        .card-body {
          > p {
            font-size: 20px;
          }

          .owener {
            img {
              width: 25px;
              height: 25px;
            }
            .owener_details {
              p {
                font-size: 14px;

                &:nth-child(2) {
                  color: #0000008c;
                }
              }
            }
          }

          .work_details {
            > p {
              font-size: 20px;
            }
          }

          .dropdown {
            i {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}
/* -------------------- Profile Page Styling End -------------------- */
