/* Google Font (Lato) */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  outline: none !important;
}

/* -------------------- Navbar Styling Start -------------------- */
.navbar {
  .navbar-nav {
    li {
      margin: 0 0.5rem;
      font-size: 17px;

      .dropdown-menu {
        .dropdown_menu_items {
          display: flex;
        }
      }
    }
  }
  .profile_dropdown {
    .nav-link {
      color: #000000;
    }
    .dropdown-menu[data-bs-popper] {
      left: -100px !important;
    }
  }
}
/* -------------------- Navbar Styling End -------------------- */

/* -------------------- SignUp Page Styling Start -------------------- */
.signUp_container,
.login_container {
  height: calc(100vh - 72px);
}
/* -------------------- SignUp Page Styling End -------------------- */

/* -------------------- Home Page Styling Start -------------------- */
.home_container {
  .container {
    height: calc(100vh - 75px);

    .home_details {
      flex: 0.5;

      > h1 {
        font-size: 48px;
      }
      .search {
        .form-control {
          padding: 10px;
          outline: none !important;
        }
      }
      .popular_srh {
        .btn {
          font-size: 12px;
          padding: 2px 6px;
        }
      }
    }
    .hero_img {
      flex: 0.5;

      .q_img_container {
        position: relative;

        .q_image {
          background-size: cover;
          border-radius: 50% !important;
          background-position: 50% 50%;
        }
        .q_image_1 {
          position: absolute;
          top: -210px;
          left: 100px;
          width: 425px;
          height: 425px;
          background-image: url("/images/q-img-1.jpg");
        }
        .q_image_2 {
          position: absolute;
          right: 60px;
          top: 80px;
          width: 200px;
          height: 200px;
          background-image: url("/images/q-img-2.jpg");
          border: 12px solid white;
        }
      }
    }
  }
}
/* -------------------- Home Page Styling End -------------------- */

/* -------------------- Account Page Styling Start -------------------- */
.account_container {
  background-color: whitesmoke;
  min-height: calc(100vh - 75px);

  .navbar {
    flex: 0.2;
    .navbar-nav {
      .nav-link {
        padding: 0;
        text-decoration: none;
        color: #0000008c;
      }
      .nav-link.active {
        color: #000000;
      }
    }
  }
  .account_details {
    flex: 0.8;
    background-color: white;
    border: rgb(231, 229, 229) solid 1px;
    border-radius: 5px;

    form {
      label {
        text-transform: uppercase;
      }
    }
  }
}
/* -------------------- Account Page Styling End -------------------- */
