<%- include("../authNav") %>

<section class="signUp_container">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-4">
        <%- include("./email.ejs") %>
      </div>
    </div>
  </div>
</section>
